openapi: 3.0.1
info:
  title: MarketRightSide Financial Data API
  description: API for accessing real-time financial data from MarketRightSide, including markets, instruments, time frames, and trading data.
  version: 'v1'
servers:
  - url: https://admin.marketrightside.com/api
paths:
  /public/market-list:
    get:
      operationId: getMarketList
      summary: Get a list of all markets
      responses:
        "200":
          description: Returns a list of markets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketListResponse'
  /public/instrument-list:
    get:
      operationId: getInstrumentList
      summary: Get a list of all instruments
      responses:
        "200":
          description: Returns a list of instruments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstrumentListResponse'
  /public/time-frame:
    get:
      operationId: getTimeFrame
      summary: Get a list of all time frames
      responses:
        "200":
          description: Returns time frame data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeFrameResponse'
  /public/trading-data:
    get:
      operationId: getTradingData
      summary: Returns trading data for a specified instrument
      parameters:
        - name: market
          in: query
          required: false
          schema:
            type: string
        - name: instrument
          in: query
          required: false
          schema:
            type: string
        - name: time_frame
          in: query
          required: false
          schema:
            type: string
        - name: type
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Returns market update data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TradingDataResponse'
components:
  schemas:
    MarketListResponse:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
        data:
          type: object
          properties:
            markets:
              type: array
              items:
                $ref: '#/components/schemas/Market'
    InstrumentListResponse:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
        data:
          type: object
          properties:
            instruments:
              type: array
              items:
                $ref: '#/components/schemas/Instrument'
    TimeFrameResponse:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
        data:
          type: object
          properties:
            time_frames:
              type: array
              items:
                $ref: '#/components/schemas/TimeFrame'
    TradingDataResponse:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
        data:
          type: object
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/TradingData'
    Market:
      type: object
      properties:
        name:
          type: string
        slug:
          type: string
        instruments:
          type: array
          items:
            $ref: '#/components/schemas/Instrument'
    Instrument:
      type: object
      properties:
        name:
          type: string
        slug:
          type: string
        short_name:
          type: string
        markets:
          $ref: '#/components/schemas/Market'
    TimeFrame:
      type: object
      properties:
        name:
          type: string
        short_name:
          type: string
    TradingData:
      type: object
      properties:
        name:
          type: string
        slug:
          type: string
        instruments:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              slug:
                type: string
              short_name:
                type: string
              market_updates:
                type: object
                properties:
                  right_side:
                    type: object
                  current_structure:
                    type: object
                  trading_signal:
                    type: object
                  chart:
                    type: object
